<div class="dashboardHeader">
    Dashboard
</div>
<div class="cardsContainer">
    <div class="cardContainer rounded-md shadow-md" >
        <div class="cardHeader">
            Amount of Tasks
        </div>
        <div class="cardContent">
            {{todos.length + completed.length + inProgress.length}}
        </div>
    </div>
    <div class="cardContainer rounded-md shadow-md" >
        <div class="cardHeader">
            Complete Tasks
        </div>
        <div class="cardContent">
            {{completed.length}}
        </div>
    </div>
    <div class="cardContainer rounded-md shadow-md" >
        <div class="cardHeader">
            Overdue Tasks
        </div>
        <div class="cardContent">
            {{inProgress.length}}
        </div>
    </div>
</div>