
:host{
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
}

#container{
    width: 30%;
    height: 200px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content:space-between;
    padding: 1rem;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.icon{
    &:hover{
        cursor: pointer;
    }
}
.content{
    padding: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.actions{
    padding: 10px;
}
.taskInput{
    display: block;
    width: 15rem;
    height: 1rem;
    border-width: 1px;
    border-color: #e3e3e3;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    outline-width: 2px;
    .placeholder\:text-gray-500::placeholder {
        --tw-text-opacity: 1;
        color: rgb(107 114 128 / var(--tw-text-opacity));
    }
}